#root {
  background: url("https://images8.alphacoders.com/396/396873.jpg") 0 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 100px 0 0 0 ;
  height: 90vh;
}

form {
  width: 800px;
  margin: 0 auto 20px;
  padding: 0;
  display: flex;
}
input {
  width: 500px;
  height: 50px;
  padding: 5px 15px;
  font-size: 20px;
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
input:focus {
  background: lightseagreen;
}

ul {
  list-style: none;
  width: 800px;
  margin: 0 auto;
  padding: 0;
}

li {
  width: 610px;
  height: 40px;
  background: orange;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

button {
  font-size: 24px;
  padding: 0 5px;
}

.AddNewTask {
  width: 100px;
  height: 60px;
  padding: 0;
  border: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.AddNewTask:hover {
  background: lightseagreen;
}
